<div>
    <h3 style="text-align:center">
        Data should be below:
    </h3>
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
            <mat-cell *matCellDef="let Asset"> {{Asset.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name. </mat-header-cell>
            <mat-cell *matCellDef="let Asset"> {{Asset.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isDeleted">
            <mat-header-cell *matHeaderCellDef> Deleted. </mat-header-cell>
            <mat-cell *matCellDef="let Asset"> {{Asset.isDeleted}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef> Date Created. </mat-header-cell>
            <mat-cell *matCellDef="let Asset"> {{Asset.dateCreated}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assetFields">
            <mat-header-cell *matHeaderCellDef> Asset Fields. </mat-header-cell>
            <mat-cell *matCellDef="let Asset"> {{Asset.assetFields}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="assetColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: assetColumns;"></mat-row>
    </mat-table>
</div>